#content-poster-image {
    width: 213px;
    height: 302px;
    object-fit: cover;
}

#content-title {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    padding-bottom: 8px;
}

.content-containerr {
    display: flex;
    flex-direction: row;
    gap: 18px;
}