<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='contentPage.css') }}">
    <title>{{ movieName[1] }}</title>
</head>
<body>
    <div class="video-wrapper">
        <video id="movie" controls playsinline>
            <source src="{{ url_for('static', filename='content/filme/' + movieName[1].replace(' ', '_') + '/film.mp4') }}" type="video/mp4">
            <track label="Romanian" kind="subtitles" srclang="en" src="{{ url_for('static', filename='content/filme/' + movieName[1].replace(' ', '_') + '/sub.vtt') }}" default />
        </video>
        <div class="top-controls">
            <a id="back-button" href="{{ url_for('movie', moviePlaceholder=movieName[1].replace(' ', '-')) }}">Back</a>
        </div>
    </div>

    

<script>
    window.addEventListener('load', async () => {
        const video = document.getElementById('movie');

        if (localStorage.getItem('userInteracted')) {
            video.muted = false;
            video.volume = 1;

            try {
                await video.play();
            } catch(err) {
                console.log(err);
            }
        }
    });
</script>
</body>
</html>