<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='contentPage.css') }}">
    <title>{{movie[1]}}</title>
</head>
<body>
    <div class="hero-wrapper">
            <div class="hero-background-items">
                <img id="most-recent-banner" src="{{ url_for('static', filename='content/filme/' ~ movie[1].replace(' ', '_') ~ '/banner.webp') }}" alt="">
                <div class="main-filter"></div>
                <div class="top-filter"></div>
                <div class="bottom-filter"></div>
            </div>

            <div class="hero-main-items">
                <header>
                    <div class="navigation-links">
                        <a id="navigation-route" href="/">Acasa</a>
                        <a id="navigation-route" href="">Seriale</a>
                        <a id="navigation-route" href="">Filme</a>
                    </div>
                    <a id="upload-dashboard-button" href="/dashboard"><img src="\static\images\Upload.svg" alt=""></a>
                </header>

                <div class="content-details">
                    <h1 id="most-recent-name">{{ movie[1] }}</h1>
                    <div class="content-specifications">
                        <h3 id="content-specs">{{ movie[4] }}</h3>
                        <h3 id="content-specs">{{ movie[3] }}</h3>
                        <h3 id="content-specs">{{ movie[2] }}</h3>
                    </div>
                    <a id="movie-button" href="{{ url_for('watch', moviePlaceholder=movie[1].replace(' ', '-')) }}">
                        <img src="\static\images\play.svg" alt="">
                        Incepe Film
                    </a>
                    <script>
                        document.getElementById('movie-button').addEventListener('click', () => {
                            localStorage.setItem('userInteracted', 'true');
                        });
                    </script>
                    <h3 id="content-about">{{ movie[5] }}</h3>
                </div>
            </div>
        </div>
</body>
</html>